Repository SonySemiconductorSolutions/edge-virtualization-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-license, check-bash

check-format:
  name: Check format
  description: Check that sources comply with clang format
  entry: clang-format
  args:
  - --dry-run
  - -Werror
  - --verbose
  language: system
  stages:
  - pre-commit

check-license:
  name: Check license
  entry: tools/check-license.sh
  language: system
  stages:
  - pre-commit

check-bash:
  name: Check bash
  language: system
  entry: bashate
  args:
  - -iE006
  - -eE005,E042,E043
  stages:
  - pre-commit

Edge Virtualization Platform v1.46.0
  .github/workflows/build-sdk.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/getting_started/prerequisites.rst
  src/libevp-agent/module_instance.c
  src/libevp-agent/sdk.c
  src/libevp-agent/sdk_agent.h
  test/src/systest/test_wasm_mod_pause_deployment.c
  tools/fortify/filter-agent.txt
Due: check-format, check-license

Edge Virtualization Platform v1.45.0
  .github/workflows/build-modules.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  Makefile
  docs/testing/index.rst
  scripts/cmake-flatcc.sh
  scripts/cmake-libweb.sh
  scripts/cmake-mbedtls.sh
  scripts/cmake-wasm-micro-runtime.sh
  scripts/rules.mk
  src/Makefile
  src/libevp-agent/xmqtt.c
  src/python-evp-app-sdk/Makefile
  src/python-evp-app-sdk/README.md
  test/Makefile
  test_modules/Makefile
  version.mk
Due: check-format, check-license, check-bash

Edge Virtualization Platform v1.48.0
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PrivacyPolicy.md
  docs/about/release_process.rst
  scripts/rules.mk
  version.mk
Due: none

WIP fix broken coverage
  scripts/build/tool/ccov.mk
Due: none

Edge Virtualization Platform v1.48.1
  .github/workflows/builder.yml
  scripts/build/tool/ccov.mk
  scripts/rules.mk
  version.mk
Due: none

docs: Add privacy policy references to community documents
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

ci: use github runners
  .github/workflows/build-sdk.yml
  .github/workflows/build.yml
  .github/workflows/builder.yml
  .github/workflows/test.yml
Due: none

fix(test_connection_mode.c): Replace sync with sem
  test/src/st-nohub/test_connection_mode.c
Due: check-format, check-license

Add notification when stp error occurred.
  include/evp/agent.h
  src/libevp-agent/agent_event.c
  src/libevp-agent/blob_type_evp_rpc.c
Due: check-format, check-license

Add network setting for wasm.
  src/libevp-agent/module_instance_impl_wasm.c
Due: check-format, check-license

Change the call order.
  src/libevp-agent/module_instance_impl_wasm.c
Due: check-format, check-license

Add defined.
  src/libevp-agent/module_instance_impl_wasm.c
Due: check-format, check-license

clang-format.
  src/libevp-agent/module_instance_impl_wasm.c
Due: check-format, check-license

Add CODEOWNERS.
  .github/CODEOWNERS
Due: none

Bump version to v1.48.4
  scripts/rules.mk
  version.mk
Due: none

Fix: Clean up module on IO error during hash check in module_impl_obj_load()
  src/libevp-agent/module_impl_obj.c
Due: check-format, check-license

Add more log information
  src/libevp-agent/platform.c
Due: check-format, check-license

update log information
  src/libevp-agent/platform.c
Due: check-format, check-license

Fix typo
  src/libevp-agent/module_impl_obj.c
Due: check-format, check-license

Clean up module if mmap error occured and add more log information
  src/libevp-agent/module_impl_obj.c
  src/libevp-agent/platform.c
Due: check-format, check-license

bump v1.48.4 -> v1.48.5
  scripts/rules.mk
  version.mk
Due: none

Unsupport arm64 for CI
  .github/workflows/build-sdk.yml
  .github/workflows/build.yml
  .github/workflows/builder.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  check-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  src/libevp-agent/sdkenc/.*\.[ch]|
  src/libevp-agent/webclient/.*|
  src/libevp-agent/MQTT-C/.*|
  src/libevp-agent/mqtt\.c|
  src/libevp-agent/netlib/.*|
  src/libevp-agent/xlog_color.h|
  src/libevp-agent/azure/.*\.[ch]|
  include/internal/time\.h|
  include/internal/cdefs\.h|
  include/internal/queue\.h|
  include/evp_mbedtls_config.h|
  .*/parson\.[ch]|
  .*/.git/.*|
  .*/.doc-venv/.*|
  .*/.venv/.*|
  .*/stage/.*|
  .*/build/.*|
  src/python-evp-app-sdk/evp/app/.*wrap\.c
)$

  check-license: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  src/libevp-agent/sdkenc/.*\.[ch]|
  src/libevp-agent/webclient/.*|
  src/libevp-agent/MQTT-C/.*|
  src/libevp-agent/mqtt\.c|
  src/libevp-agent/netlib/.*|
  src/libevp-agent/xlog_color.h|
  src/libevp-agent/azure/.*\.[ch]|
  include/internal/time\.h|
  include/internal/cdefs\.h|
  include/internal/queue\.h|
  include/evp_mbedtls_config.h|
  .*/parson\.[ch]|
  .*/.git/.*|
  .*/.doc-venv/.*|
  .*/.venv/.*|
  .*/stage/.*|
  .*/build/.*|
  src/python-evp-app-sdk/evp/app/.*wrap\.c
)$

  check-bash: any of: \.sh$, but not: (?x)^(
  src/libevp-agent/sdkenc/.*\.[ch]|
  src/libevp-agent/webclient/.*|
  src/libevp-agent/MQTT-C/.*|
  src/libevp-agent/mqtt\.c|
  src/libevp-agent/netlib/.*|
  src/libevp-agent/xlog_color.h|
  src/libevp-agent/azure/.*\.[ch]|
  include/internal/time\.h|
  include/internal/cdefs\.h|
  include/internal/queue\.h|
  include/evp_mbedtls_config.h|
  .*/parson\.[ch]|
  .*/.git/.*|
  .*/.doc-venv/.*|
  .*/.venv/.*|
  .*/stage/.*|
  .*/build/.*|
  src/python-evp-app-sdk/evp/app/.*wrap\.c
)$

